<style>
* {margin:0; padding:0;}
.accordion {position:absolute;
top:12%;
left:50%;
transform:translateX(-50%);
width:250px;}

input[id*="menu"] {
display:none;}

input[id*="menu"] + label {
display:block;
padding:15px;
border:1px 
solid #000000;
border-bottom:0;
color:#fff;
font-weight:900;
background:#EA0029;
cursor:pointer;
position:relative;
}
input[id*="menu"] + label em {
position:absolute;
top:50%;
right:10px;
width:30px;
height:30px;
margin-top:-15px;
display:inline-block;
background:url('./img/arrow.png') 0 0 no-repeat;
}
input[id*="menu"] + label + div {
max-height:0;
transition: all .35s;
overflow:hidden;
background:#ebf8ff;
font-size:16px;
}
input[id*="menu"] + label + div p {
display:inline-block;
padding:20px;
}
input[id*="menu"]:checked + label + div {
max-height:200px;
}
input[id*="menu"]:checked + label em {
background-position:0 -30px;
}
</style>